<style>
    .row:after{
        clear: both;
    }
    .row:before,.row:after{
        content: " ";
        display: table;
    }
    .row{
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
    }
    .column-one-fifth{
        width: 20%;
        float: left;
    }
    .column-four-fifth{
        width: 80%;
        float: left;
    }

    table{
        min-width: 100%;
    }
    table tr:nth-child(even){
        background: var(--topan-colors-main-modify1);
    }
    table tr:nth-child(odd){
        background: white;
    }
    table td:nth-child(1){
        line-height: 30px;
    }
    #difficulties>th{
        width: 4%;
        font-size: 80%;
        font-weight: normal;
    }
    td:nth-child(1),#pids{
        width: 10%;
    }
    td:nth-child(2),#title{
        text-align: left;
        width: 25%;
    }
    td:nth-child(3),#tags{
        text-align: right;
    }
</style>
<%- include('./tag.html') %>

<div class="row">
    <div class="column-four-fifth">
        <div style="padding-right: 12px;">
            <div class="topan-section-shadow">
                <table>
                    <tr>
                        <th rowspan="2" id="pids">题目编号</th>
                        <th rowspan="2" id="title">标题</th>
                        <th rowspan="2" id="tags">标签</th>
                        <th colspan="4">难度</th>
                    </tr>
                    <tr id="difficulties">
                        <th>总计</th>
                        <th>算法</th>
                        <th>思维</th>
                        <th>实现</th>
                    </tr>
                    <% problemList.forEach(pid=>{
                        var detail=JSON.parse(fs.readFileSync(`data/${pid}/config.json`,'utf8')); %>
                        <tr>
                            <td><%= pid %></td>
                            <td><a href="/<%= Config.on %>/problem/<%= pid %>"><%= detail.title %></a></td>
                            <td>
                                <% detail.tags.split(',').forEach(tag=>{ %>&nbsp;<%- Tag(tag) %><% }) %>
                            </td>
                            <td><%= detail.difficulty.algorithm+detail.difficulty.thinking+detail.difficulty.implementation %></td>
                            <td><%= detail.difficulty.algorithm %></td>
                            <td><%= detail.difficulty.thinking %></td>
                            <td><%= detail.difficulty.implementation %></td>
                        </tr>
                    <% }); %>
                    <tr>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="column-one-fifth">
        <div style="padding-left: 12px;">
            <div class="topan-section-shadow">
                <% if(isadmin){ %>
                    <a class="topan-menu-option" href="/admin/create"><i class="fa fa-solid fa-plus"></i>&nbsp;&nbsp;创建题目</a>
                <% } %>
            </div>
        </div>
    </div>
</div>