<style>
    .row:after{
        clear: both;
    }
    .row:before,.row:after{
        content: " ";
        display: table;
    }
    .row{
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
    }
    .column-one-fifth{
        width: 20%;
        float: left;
    }
    .column-four-fifth{
        width: 80%;
        float: left;
    }
    .messages-display{
        color: #888;
    }
</style>
<div class="row">
    <div class="column-one-fifth">
        <div style="padding-right: 0px;">
            <div class="topan-section-shadow">
                <h2><%= prodata.title %></h2>
                <% if(isadmin){ %>
                    <a href="/<%= Config.on %>/problem/<%= prodata.pid %>/statements">题面列表</a>
                <% } %>
            </div>
        </div>
    </div>
    <div class="column-four-fifth">
        <div style="padding-left: 20px;">
            <div class="topan-section-shadow">
                <p><a href="/admin/problem/<%= prodata.pid %>/statement/create">创建题面</a></p>
            </div>
            <% for(var key in prodata.statement){ %>
                <br>
                <div class="topan-section-shadow">
                    <p><a href="/admin/problem/<%= prodata.pid %>/statement/<%= key %>/edit">编辑 <%= key %></a></p>
                    <%- MarkdownIt.render(fs.readFileSync(`data/${prodata.pid}/${prodata.statement[key]}`,'utf8')) %>
                </div>
            <% } %>
        </div>
    </div>
</div>