<style>
    table {
        width: 100%;
    }

    th:nth-child(1) {
        width: 48px;
    }

    th:nth-child(2),
    td:nth-child(2) {
        text-align: left;
    }

    th:nth-child(3),
    td:nth-child(3) {
        text-align: right;
    }
</style>

<script>
    $(document).ready(() => {
        $('#file-upload').click(() => {
            if (!$("#headimage-input").val()) {
                alert("Please upload pictures first.");
                return;
            }
            var uploadfile = $("#headimage-input")[0].files[0];
            if (uploadfile.size >= 5 * 1024 * 1024) {
                alert("Picture size must be less than 5 MiB.");
                return;
            }
            var formdata = new FormData();
            formdata.append("headimage_upload", uploadfile);
            $.ajax({
                url: "/i/changeheadimage",
                type: 'POST',
                data: formdata,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    alert(data.message);
                }
            });
        });
    });
</script>

<div class="row">
    <div class="column-one-fifth">
        <div style="padding-right: 0px;">
            <div class="topan-section-shadow">
                <h2><%= prodata.title %></h2>
                <a class="topan-menu-option" href="/<%= System.on %>/problem/<%= prodata.pid %>"><i class="fa fa-regular fa-flag"></i>&nbsp;&nbsp;查看题目</a>
                <% if(isadmin){ %>
                    <a class="topan-menu-option" href="/admin/problem/<%= prodata.pid %>/config"><i class="fa fa-solid fa-gear"></i>&nbsp;&nbsp;配置题目</a>
                    <a class="topan-menu-option" href="/<%= System.on %>/problem/<%= prodata.pid %>/statements"><i class="fa fa-solid fa-list"></i>&nbsp;&nbsp;题面列表</a>
                <% } %>
                <a class="topan-menu-option" href="/<%= System.on %>/problem/<%= prodata.pid %>/solution"><i class="fa fa-solid fa-book"></i>&nbsp;&nbsp;题解与代码</a>
                <% if(isadmin){ %>
                <a class="topan-menu-option" href="/<%= System.on %>/problem/<%= prodata.pid %>/files"><i class="fa fa-regular fa-file-code"></i>&nbsp;&nbsp;文件</a>
                <% } %>
                <a class="topan-menu-option" href="/<%= System.on %>/problem/<%= prodata.pid %>/comment"><i class="fa fa-sharp fa-regular fa-comments"></i>&nbsp;&nbsp;评论</a>
            </div>
        </div>
    </div>
    <div class="column-two-fifth">
        <div style="padding-left: 20px;">
            <div class="topan-section-shadow">
                <table>
                    <tr>
                        <th>操作</th>
                        <th>文件名</th>
                        <th>文件大小</th>
                    </tr>
                    <% var filelist=fs.readdirSync(`data/${prodata.pid}`);
                    filelist.forEach((filename,index)=>{ %>
                        <tr>
                            <td>
                                <input id="check-<%= index %>" type="checkbox">
                                <a href="/<%= System.on %>/problem/<%= prodata.pid %>/file/<%= filename %>"><i class="fa fa-solid fa-cloud-arrow-down"></i></a>
                            </td>
                            <td><%= filename %></td>
                            <td><%= fileSize(fs.statSync(`data/${prodata.pid}/${filename}`).size) %></td>
                        </tr>
                    <% }); %>
                </table>
            </div>
        </div>
    </div>
    <div class="column-two-fifth">
        <div style="padding-left: 20px;">
            <div class="topan-section-shadow">
                <a class="topan-menu-option" href="/<%= System.on %>/problem/<%= prodata.pid %>/file/userfile.zip"><i class="fa fa-solid fa-cloud-arrow-down"></i>&nbsp;&nbsp;下载选手文件（共个文件，<%=  %>）</a>
                <a class="topan-menu-option" href="/<%= System.on %>/problem/<%= prodata.pid %>/file/userfile.zip"><i class="fa fa-solid fa-cloud-arrow-down"></i>&nbsp;&nbsp;下载测试数据（共个文件，）</a>
                <h3>上传文件</h3>
                <p><input id="file" type="file"></p>
                <p>
                    <button id="file-upload" class="topan-button-emphasize topan-button-default">确认上传</button>
                    <button id="file-upload-unzip" class="topan-button-commonly topan-button-default">解压后上传</button>
                </p>
                <h3>操作</h3>
                <p>
                    <button id="file-delete" class="topan-button-emphasize topan-button-default">删除</button>
                    <button id="file-tag-testdata" class="topan-button-commonly topan-button-default">标记为测试数据</button>
                    <button id="file-tag-user" class="topan-button-commonly topan-button-default">标记为选手文件</button>
                    <button id="file-tag-remove" class="topan-button-commonly topan-button-default">移除标记</button>
                </p>
            </div>
        </div>
    </div>
</div>