<style>
    .messages-display{
        color: #888;
    }
</style>
<%- include('./tag.html') %>

<div class="row">
    <div class="column-one-fifth">
        <div style="padding-right: 0px;">
            <div class="topan-section-shadow">
                <% if(isadmin){ %>
                    <a class="topan-menu-option" href="/admin/problem/<%= prodata.pid %>/config"><i class="fa fa-solid fa-gear"></i>&nbsp;&nbsp;配置题目</a>
                    <a class="topan-menu-option" href="/<%= Config.on %>/problem/<%= prodata.pid %>/statements"><i class="fa fa-solid fa-list"></i>&nbsp;&nbsp;题面列表</a>
                <% } %>
                <a class="topan-menu-option" href="/<%= Config.on %>/problem/<%= prodata.pid %>/solution"><i class="fa fa-solid fa-book"></i>&nbsp;&nbsp;题解与代码</a>
                <% if(isadmin){ %>
                <a class="topan-menu-option" href="/<%= Config.on %>/problem/<%= prodata.pid %>/files"><i class="fa fa-regular fa-file-code"></i>&nbsp;&nbsp;文件</a>
                <% } %>
                <a class="topan-menu-option" href="/<%= Config.on %>/problem/<%= prodata.pid %>/comment"><i class="fa fa-sharp fa-regular fa-comments"></i>&nbsp;&nbsp;评论</a>
            </div>
        </div>
    </div>
    <div class="column-four-fifth">
        <div style="padding-left: 20px;">
            <div class="topan-section-shadow">
                <h2>#<%= prodata.pid %>. <%= prodata.title %></h2>
                <p class="messages-display">
                    <% if(prodata.judge.time){ %>
                    <strong><i class="fa fa-solid fa-clock"></i> 时间限制：</strong><%= prodata.judge.time %>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <% } %>
                    <% if(prodata.judge.memory){ %>
                    <strong><i class="fa fa-solid fa-database"></i> 空间限制：</strong><%= prodata.judge.memory %>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <% } %>
                    <% if(prodata.tags){ %>
                        <strong><i class="fa fa-solid fa-tag"></i> 标签：</strong>
                        <% prodata.tags.split(',').forEach(tag=>{ %><%- Tag(tag) %>&nbsp;<% }) %>
                    <% } %>
                </p>
                <p class="messages-display">
                    <strong>算法难度等级：</strong><%= prodata.difficulty.algorithm %>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong>思维难度等级：</strong><%= prodata.difficulty.thinking %>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong>实现难度等级：</strong><%= prodata.difficulty.implementation %>
                </p>
            </div>
            <br>
            <% if(prodata.source&&prodata.source.length>0){ %>
                <blockquote class="topan-blockquote-tip">
                    <p>本题来源于：<%- MarkdownIt.renderInline(prodata.source) %></p>
                </blockquote>
            <% } %>
            <% var total=0,Key;
            for(var key in prodata.statement)total++,Key=key;
            if(total==1){
                var mdcode=fs.readFileSync(`data/${prodata.pid}/${prodata.statement[Key]}`,'utf8');
                var html=MarkdownIt.render(mdcode.split('(file://').join(`(./${prodata.pid}/file/`)); %>
                <div class="topan-section-shadow">
                    <%- html %>
                </div>
            <% }
            else{ %>
                <div class="topan-tab">
                    <ul>
                        <% var flag=true;
                        for(var key in prodata.statement){ %>
                            <li<%- flag?` class="topan-tab-showed"`:`` %>><%= key %></li>
                        <% flag=false;
                        } %>
                    </ul>
                    <% var flag2=true;
                    for(var key in prodata.statement){
                        var mdcode=fs.readFileSync(`data/${prodata.pid}/${prodata.statement[key]}`,'utf8');
                        var html=MarkdownIt.render(mdcode.split('(file://').join(`(./${prodata.pid}/file/`)); %>
                        <div<%- flag2?` class="topan-tab-showed"`:`` %>>
                            <div class="topan-section-shadow">
                                <%- html %>
                            </div>
                        </div>
                    <% flag2=false;
                    } %>
                </div>
            <% } %>
        </div>
    </div>
</div>

<script>
    var pageName='problem_detail';
</script>