<script src="/file/ace/ace.js"></script>
<script src="/file/ace/ext-language_tools.js"></script>
<script>
    $(document).ready(()=>{
        editor = ace.edit("code");
        theme = "clouds"
        language = "markdown"
        editor.setTheme("ace/theme/" + theme);
        editor.session.setMode("ace/mode/" + language);
        editor.setFontSize(18);
        editor.setReadOnly(false); 
        editor.setOption("wrap", "free")
        ace.require("ace/ext/language_tools");
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });
        $("#statement-edit").click(()=>{
            $.post(
                "/admin/problem/<%= prodata.pid %>/statement/<%= statementName %>/edit",
                {
                    newCode: editor.getValue(),
                    file: $('#statement-file').val(),
                    name: $('#statement-name').val()
                },
                (data,status)=>{
                    location.pathname=`/OI/problem/<%= prodata.pid %>`;
                }
            );
        });
        $("#statement-delete").click(()=>{
            $.post(
                "/admin/problem/<%= prodata.pid %>/statement/<%= statementName %>/delete",
                {},
                (data,status)=>{
                    location.pathname=`/OI/problem/<%= prodata.pid %>`;
                }
            );
        });
    });
</script>

<style>
    .row:after{
        clear: both;
    }
    .row:before,.row:after{
        content: " ";
        display: table;
    }
    .row{
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
    }
    .column-one-fifth{
        width: 20%;
        float: left;
    }
    .column-four-fifth{
        width: 80%;
        float: left;
    }
    .statement-config>input{
        width: 200px;
    }
</style>

<div class="row">
    <div class="column-one-fifth">
        <div style="padding-right: 0px;">
            <div class="topan-section-shadow">
                <h2><%= prodata.title %></h2>
                <% if(isadmin){ %>
                    <a href="/admin/problem/<%= prodata.pid %>/config">修改配置</a>
                    <a href="/<%= Config.on %>/problem/<%= prodata.pid %>/statements">题面列表</a>
                <% } %>
            </div>
        </div>
    </div>
    <div class="column-four-fifth">
        <div style="padding-left: 20px;">
            <div class="topan-section-shadow">
                <% var filename=prodata.statement[statementName];
                var code=fs.readFileSync(`data/${prodata.pid}/${filename}`,'utf8'); %>
                <p class="statement-config">
                    <input placeholder="名称" type="text" id="statement-name" value="<%= statementName %>"></input>
                    <input placeholder="文件名" type="text" id="statement-file" value="<%= filename %>"></input>
                </p>
                <pre id="code" class="ace_editor" style="min-height: 400px;">
<textarea class="ace_text-input" id="sys"><%= code %></textarea></pre>
                <p>
                    <button id="statement-edit" class="topan-button-emphasize topan-button-default">确认</button>
                    <% var total=0;
                    for(var key in prodata.statement)total++;
                    if(total>1){ %>
                        <button id="statement-delete" class="topan-button-commonly topan-button-default">删除</button>
                    <% } %>
                </p>
            </div>
        </div>
    </div>
</div>