<script src="/file/ace/ace.js"></script>
<script src="/file/ace/ext-language_tools.js"></script>
<script>
    $(document).ready(()=>{
        editor = ace.edit("code");
        theme = "clouds"
        language = "markdown"
        editor.setTheme("ace/theme/" + theme);
        editor.session.setMode("ace/mode/" + language);
        editor.setFontSize(18);
        editor.setReadOnly(false); 
        editor.setOption("wrap", "free")
        ace.require("ace/ext/language_tools");
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });
        $("#statement-create").click(()=>{
            $.post(
                "/admin/problem/<%= prodata.pid %>/statement/create",
                {
                    code: editor.getValue(),
                    file: $('#statement-file').val(),
                    name: $('#statement-name').val()
                },
                (data,status)=>{
                    location.pathname=`/OI/problem/<%= prodata.pid %>`;
                }
            );
        });
    });
</script>

<style>
    .statement-config>input{
        width: 200px;
    }
</style>

<div class="row">
    <div class="column-one-fifth">
        <div style="padding-right: 0px;">
            <div class="topan-section-shadow">
                <h2><%= prodata.title %></h2>
                <a class="topan-menu-option" href="/<%= Config.on %>/problem/<%= prodata.pid %>"><i class="fa fa-regular fa-flag"></i>&nbsp;&nbsp;查看题目</a>
                <a class="topan-menu-option" href="/admin/problem/<%= prodata.pid %>/config"><i class="fa fa-solid fa-gear"></i>&nbsp;&nbsp;配置题目</a>
                <a class="topan-menu-option" href="/<%= Config.on %>/problem/<%= prodata.pid %>/statements"><i class="fa fa-solid fa-list"></i>&nbsp;&nbsp;题面列表</a>
                <a class="topan-menu-option" href="/<%= Config.on %>/problem/<%= prodata.pid %>/solution"><i class="fa fa-solid fa-book"></i>&nbsp;&nbsp;题解与代码</a>
                <a class="topan-menu-option" href="/<%= Config.on %>/problem/<%= prodata.pid %>/files"><i class="fa fa-regular fa-file-code"></i>&nbsp;&nbsp;文件</a>
                <a class="topan-menu-option" href="/<%= Config.on %>/problem/<%= prodata.pid %>/comment"><i class="fa fa-sharp fa-regular fa-comments"></i>&nbsp;&nbsp;评论</a>
            </div>
        </div>
    </div>
    <div class="column-four-fifth">
        <div style="padding-left: 20px;">
            <div class="topan-section-shadow">
                <p class="statement-config">
                    <input placeholder="名称" type="text" id="statement-name"></input>
                    <input placeholder="文件名" type="text" id="statement-file"></input>
                </p>
    <pre id="code" class="ace_editor" style="min-height: 400px;">
<textarea class="ace_text-input" id="sys">## 题目描述

TODO

## 输入格式

TODO

## 输出格式

TODO

## 样例 1

```input1
TODO
```

```output1
TODO
```

## 样例 1 解释

TODO

## 数据规模

TODO</textarea></pre>
                <p><button id="statement-create" class="topan-button-emphasize topan-button-default"><i class="fa fa-solid fa-check"></i>&nbsp;确认</button></p>
            </div>
        </div>
    </div>
</div>