<style>
    .row:after{
        clear: both;
    }
    .row:before,.row:after{
        content: " ";
        display: table;
    }
    .row{
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
    }
    .column-one-fifth{
        width: 20%;
        float: left;
    }
    .column-four-fifth{
        width: 80%;
        float: left;
    }
</style>
<div class="row">
    <div class="column-four-fifth">
        <div style="padding-right: 12px;">
            <div class="topan-section-shadow">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                    </tr>
                    <tr>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="column-one-fifth">
        <div style="padding-left: 12px;">
            <div class="topan-section-shadow">
            </div>
        </div>
    </div>
</div>