<style>
    .tag{
        padding: 2px 6px;
        border-radius: 3px;
        font-size: 90%;
        color: white;
        background: var(--tag-color);
        display: inline-block;
        line-height: 17.25px;
    }
    .tag:hover{
        color: white !important;
        background: var(--tag-color-hover);
    }
    .tag:hover::after{
        width: 0 !important;
    }
    .tag-alg{
        --tag-color: #14558f;
        --tag-color-hover: #4a7aa3;
    }
    .tag-time{
        --tag-color: #1c830e;
        --tag-color-hover: #499e3e;
    }
    .tag-src{
        --tag-color: #b88b0f;
        --tag-color-hover: #b99738;
    }
    .tag-special{
        --tag-color: #6926c0;
        --tag-color-hover: #7c47c2;
    }
    .tag-place{
        --tag-color: #c33e85;
        --tag-color-hover: #c86198;
    }
</style>