@font-face{
    font-family: font-firacode;
    src: url("./FiraCode-Regular.ttf");
}
code{
    font-family: "font-firacode";
}
pre:not(.remove-style,.ace_editor){
    border-radius: 10px;
    background-color: #e7e7e7;
}
.hljs{
    border-radius: 10px;
    background-color: #e7e7e7;
}